DOMAIN=yourDomain

# POSTGRES
DB_HOST=project-template-db
DB_PORT=5432
DB_DATABASE=project-template
DB_USER=project-template
DB_PASSWORD=project-template

# DJANGO
DEBUG=0
SECRET_KEY=yourSecretKey
ALLOWED_HOSTS="${DOMAIN}"
HEADLESS_JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"
KEYCLOAK_SERVER_URL=https://yourKeycloakServerDomain/realms/project-template/.well-known/openid-configuration
KEYCLOAK_CLIENT_ID=project-template
KEYCLOAK_CLIENT_SECRET=yourClientSecret